#reviews {
    z-index: 1;
    font-family: "Quicksand",sans-serif;
    background: #f6f6f6;
        &:before {
        position: absolute;
        content: " ";
        display: block;
        left: 0;
        top: -50px;
        width: 100%;
        border-style: solid;
        border-width: 0 100vw 50px 0;
        border-color: #f6f6f6 transparent #f1f1f1 transparent;
    }
    
    
    .review-container{
        display: flex;
        flex-direction: column;
        padding:50px 0 20px;
        @media(min-width:768px){
                flex-direction: row;
            flex-wrap: wrap;
            }
        .review-card {
           
            
            padding: 20px 10px;
            width:100%;
            @media(min-width:768px){
                width:50%;
            }
            .review-rating {
                img {
                    width:30px;
                }
            }
            .review-name {
                font-size: 1.3em;
            }
        }
        .review-wrapper {
            display: flex;
        }
        .review-details {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .review-text {
            margin-top: 10px;
            font-size:1.1em;
        }
    }
    a {
        color: $primary-colour;
        text-decoration: underline;
        &:hover, &:focus {
            color: $secondary-colour;
        }
    }
    .review-name a {
        text-decoration: none;
    }
    .review-summary {
        padding: 0 10px 50px;
        text-align: center;
        font-size: 1.1em;
        .review-rating {
            display: block;
            img {
                width:30px;
            }
        }
    }
}