body {
  color:#464646;
  background:#fff;
  font-family: 'Open Sans', sans-serif;
  h1,h2,h3,h4,h5,h6,input,label,textarea {
    font-family: 'Quicksand', sans-serif;
    
  }
  h1  {
    font-size:3.8em;
  }
  h2 {
    margin-top:0.3em;
    margin-bottom: 0.3em;
    font-size: 3.2em;
    @media(min-width:768px){
      margin-top:0.5em;
      margin-bottom: 0.5em;
      font-size: 3.5em;
    }
  }
  h3 {
    font-size: 2em;
    margin-top: 0;
  }
  
  p {
    font-size: 1.4em;
  }
  ul {
    list-style: none;
    font-size: 1.3em;
    li {
      padding: 3px 0;
    }
  }
}
